[class*='ico-'] {
  display: inline-block;
}

.ico-kakao {
  &-header {
    width: 35px;
    height: 35px;
    margin-right: 12px;
    background: url('../images/svg/ico-kakaotalk-header.svg') center center no-repeat;
    background-size: cover;
  }

  &-footer {
    width: 30px;
    height: 30px;
    background: url('../images/svg/ico-kakaotalk-footer.svg') center center no-repeat;
    background-size: cover;
  }
}

.ico-location {
  width: 30px;
  height: 30px;
  background: url('../images/svg/ico-location.svg') center center no-repeat;
  background-size: cover;
}

.ico-phone {
  width: 30px;
  height: 30px;
  background: url('../images/svg/ico-phone.svg') center center no-repeat;
  background-size: cover;
}

.ico-mail {
  width: 30px;
  height: 30px;
  background: url('../images/svg/ico-mail.svg') center center no-repeat;
  background-size: cover;
}