*,
body {
	margin: 0;
	padding: 0;
	font-family: 'BMHANNAPro', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
p {
	font-family: 'BMHANNAPro', 'sans-serif';
}

a,
a:hover {
	text-decoration: none;
	font-family: 'BMHANNAPro', 'sans-serif';
}

img {
	max-width: 100%;
	border: 0;
	user-select: none;
	-webkit-user-drag: none;
}

ol,
ul,
li {
	list-style: none;
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	cursor: pointer;
	background: none;
	
	&:focus {
		outline: none;
	}
}

input {
	-webkit-appearance: none;
	appearance: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

table {
	border-collapse: collapse;
}