html,
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.visually-hidden {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	outline: 0;
	outline-offset: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}

.mt-0 {
	margin-top: 0 !important;
}

// .img1 {
// 	width: 248px;
// 	height: 190px;

// 	@include tablet {
// 		width: 360px;
// 		height: 284px;
// 	}
// 	@include desktop {
// 		width: 360px;
// 		height: 284px;
// 	}
// }

// .img2 {
// 	width: 254px;
// 	height: 200px;

// 	@include tablet {
// 		width: 424px;
// 		height: 310px;
// 	}
// 	@include desktop {
// 		width: 424px;
// 		height: 310px;
// 	}
// }

// .img3 {
// 	width: 189px;
// 	height: 187px;
// 	@include tablet {
// 		width: 334px;
// 		height: 334px;
// 	}
// 	@include desktop {
// 		width: 334px;
// 		height: 334px;
// 	}
// }

// .img4 {
// 	width: 186px;
// 	height: 186px;
// 	@include tablet {
// 		width: 340px;
// 		height: 320px;
// 	}
// 	@include desktop {
// 		width: 340px;
// 		height: 320px;
// 	}
// }

// .img5 {
// 	width: 254px;
// 	height: 200px;

// 	@include tablet {
// 		width: 424px;
// 		height: 310px;
// 	}
// 	@include desktop {
// 		width: 424px;
// 		height: 310px;
// 	}
// }

// .img6 {
// 	width: 140px;
// 	height: 153px;

// 	@include tablet {
// 	width: 234px;
// 	height: 258px;
// 	}
// 	@include desktop {
// 		width: 234px;
// 		height: 258px;
// 	}
// }

// .img7 {
// 	width: 310px;
// 	height: 96ox;

// 	@include tablet {
// 		width: 570px;
// 		height: 177px;
// 	}
// 	@include desktop {
// 		width: 570px;
// 		height: 177px;
// 	}
// }

// .img8 {
// 	width: 158px;
// 	height: 160px;

// 	@include tablet {
// 		width: 262px;
// 		height: 286px;
// 	}
// 	@include desktop {
// 		width: 302px;
// 		height: 366px;

// 	}
// }
