// colors

$primary: #2AC1BC;
$secondary: #20EDE6;

$black: #333;
$white: #FFF;
$yellow: #F1B446;

$grey-100: #FFFBF5;
$grey-200: #F4F1E9;
$grey-300: #C1BEB5;
$grey-400: #888579;


// font styles

$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-64: 64px;

// breakpoints

$breakpoint-mobile: 375px;
$breakpoint-tabletToMobile: 535px;
$breakpoint-tablet: 768px;
$breakpoint-laptopToTablet: 960px;
$breakpoint-laptop: 1024px;
$breakpoint-desktopToLaptop: 1440px;
$breakpoint-desktop: 1920px;